:root {

    /* Text Colors */
    --primary-text-color: black;
    --secondary-text-color: white;
    --p2-text-color: #938d8d;

    /*  background colors */
    --primary-background-color: white;
    --secondary-background-color: #641616;

}

@font-face {
    font-family: 'druk-wide-bold';
    src: url('/src/assets/fonts/DrukWideBold.ttf');
}

@font-face {
    font-family: 'vanteque';
    src: url('/src/assets/fonts/VANTEQU.otf');
}
