:root {

    /* Text Colors */
    --primary-text-color: black;
    --secondary-text-color: white;

    /*  background colors */
    --primary-background-color: white;
    --secondary-background-color: #641616;

}
