@import './theme/theme.css';

body {
    margin: 0;
    padding: 0;

    width: 100vw;
    height: 100vh;

}

* {
    box-sizing: border-box;
}

body {
    font-family: "Winky Rough" ;
}

button {
    font-family: "Winky Rough";
}

.italics {

   font-style: italic;

}

span {
    font-size: 16px;
}

.underline {
   text-decoration: underline;
}

.line-through {
   text-decoration: line-through;
}

.line-through-strike {
   text-decoration: underline line-through;
}